gardena-sileno.json
[{"id":"f5a59d06.2def08","type":"inject","z":"ec8e5944.e5e5e","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"onceDelay":"","x":130,"y":100,"wires":[["782765da.3e4544"]]},{"id":"782765da.3e4544","type":"function","z":"ec8e5944.e5e5e","name":"email & password","func":"msg.payload = {\n    \"sessions\": {\n        \"email\": \"email@addresse.com\",\n        \"password\": \"password\"\n    }\n};\n\nmsg.headers = {\n    Accept: \"application/json\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":100,"wires":[["e4e460e.63aa62"]]},{"id":"e4e460e.63aa62","type":"http request","z":"ec8e5944.e5e5e","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://sg-api.dss.husqvarnagroup.net/sg-1/sessions","tls":"","proxy":"","authType":"","x":570,"y":100,"wires":[["a24ca270.1aae8","9201c449.2373c8"]]},{"id":"a24ca270.1aae8","type":"debug","z":"ec8e5944.e5e5e","name":"","active":true,"console":"false","complete":"false","x":890,"y":100,"wires":[]},{"id":"9201c449.2373c8","type":"function","z":"ec8e5944.e5e5e","name":"","func":"global.set(\"token\", msg.payload[\"sessions\"][\"token\"]);\nglobal.set(\"user_id\", msg.payload[\"sessions\"][\"user_id\"]);\n\nvar mytoken = global.get(\"token\"); \nvar myuserid = global.get(\"user_id\"); \n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"X-Session\": mytoken\n};\n\nvar url= \"https://sg-api.dss.husqvarnagroup.net/sg-1/locations/?user_id=\" + myuserid;\n\nmsg.url = url;\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":160,"wires":[["3bb0bf16.2ddcb8"]]},{"id":"3bb0bf16.2ddcb8","type":"http request","z":"ec8e5944.e5e5e","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":570,"y":160,"wires":[["cddbc8c0.54d378","24a6b876.0afd18"]]},{"id":"cddbc8c0.54d378","type":"debug","z":"ec8e5944.e5e5e","name":"","active":true,"console":"false","complete":"false","x":890,"y":160,"wires":[]},{"id":"24a6b876.0afd18","type":"function","z":"ec8e5944.e5e5e","name":"","func":"global.set(\"location\", msg.payload[\"locations\"][0][\"id\"]);\n\nvar mylocation = global.get(\"location\");\nvar mytoken = global.get(\"token\"); \n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"X-Session\": mytoken\n}\n\nvar url= \"https://sg-api.dss.husqvarnagroup.net/sg-1/devices?locationId=\" + msg.payload[\"locations\"][0][\"id\"]\n\nmsg.url = url;\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":220,"wires":[["f5552ced.158cd"]]},{"id":"f5552ced.158cd","type":"http request","z":"ec8e5944.e5e5e","name":"","method":"GET","ret":"obj","url":"","tls":"","x":570,"y":220,"wires":[["8457783a.46a4e","3f54a10d.e316f6","3192d9bc.427156","8effcf.953c583","ef3afae2.9ef0c8"]]},{"id":"8457783a.46a4e","type":"debug","z":"ec8e5944.e5e5e","name":"","active":true,"console":"false","complete":"false","x":890,"y":220,"wires":[]},{"id":"5201920.76cf67","type":"inject","z":"ec8e5944.e5e5e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":740,"wires":[["5ac44e35.ff63d8"]]},{"id":"5ac44e35.ff63d8","type":"function","z":"ec8e5944.e5e5e","name":"Parken bis zum n채chsten Zeitplan","func":"var mower = global.get(\"mower\");\nvar mytoken = global.get(\"token\"); \nvar mylocation = global.get(\"location\"); \n\nmsg.payload = {\n    \"name\":\"park_until_next_timer\"\n};\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"X-Session\": mytoken\n};\n\nvar url= \"https://sg-api.dss.husqvarnagroup.net/sg-1/devices/\" + mower + \"/abilities/mower/command?locationId=\" + mylocation;\n\nmsg.url = url;\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":740,"wires":[["64d78e8.5b842f","36d0b94.4c1aa46"]]},{"id":"64d78e8.5b842f","type":"http request","z":"ec8e5944.e5e5e","name":"","method":"POST","ret":"txt","url":"","tls":"","x":630,"y":740,"wires":[["802b1388.5300b8"]]},{"id":"802b1388.5300b8","type":"debug","z":"ec8e5944.e5e5e","name":"","active":true,"console":"false","complete":"false","x":850,"y":740,"wires":[]},{"id":"36d0b94.4c1aa46","type":"debug","z":"ec8e5944.e5e5e","name":"","active":true,"console":"false","complete":"true","x":590,"y":780,"wires":[]},{"id":"c7f4a8fc.e5e2a","type":"inject","z":"ec8e5944.e5e5e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":820,"wires":[["8cd95035.7e391"]]},{"id":"8cd95035.7e391","type":"function","z":"ec8e5944.e5e5e","name":"Parken und Zeitplan pausieren","func":"var mower = global.get(\"mower\");\nvar mytoken = global.get(\"token\"); \nvar mylocation = global.get(\"location\"); \n\nmsg.payload = {\n    \"name\": \"park_until_further_notice\"\n};\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"X-Session\": mytoken\n};\n\nvar url= \"https://sg-api.dss.husqvarnagroup.net/sg-1/devices/\" + mower + \"/abilities/mower/command?locationId=\" + mylocation;\n\nmsg.url = url;\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":820,"wires":[["3e2f5425.c3cc54","4cc961c1.f94ce"]]},{"id":"3e2f5425.c3cc54","type":"http request","z":"ec8e5944.e5e5e","name":"","method":"POST","ret":"txt","url":"","tls":"","x":630,"y":820,"wires":[["9b032081.a2eff8"]]},{"id":"9b032081.a2eff8","type":"debug","z":"ec8e5944.e5e5e","name":"","active":true,"console":"false","complete":"false","x":850,"y":820,"wires":[]},{"id":"4cc961c1.f94ce","type":"debug","z":"ec8e5944.e5e5e","name":"","active":true,"console":"false","complete":"true","x":590,"y":860,"wires":[]},{"id":"6f3beeb1.2c85c8","type":"inject","z":"ec8e5944.e5e5e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":900,"wires":[["42fb9676.93fe38"]]},{"id":"42fb9676.93fe38","type":"function","z":"ec8e5944.e5e5e","name":"Starten und Zeitpl채ne fortsetzen","func":"var mower = global.get(\"mower\");\nvar mytoken = global.get(\"token\"); \nvar mylocation = global.get(\"location\"); \n\nmsg.payload = {\n    \"name\": \"start_resume_schedule\"\n};\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"X-Session\": mytoken\n};\n\nvar url= \"https://sg-api.dss.husqvarnagroup.net/sg-1/devices/\" + mower + \"/abilities/mower/command?locationId=\" + mylocation;\n\nmsg.url = url;\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":900,"wires":[["fcabc867.849a5","2b1e415e.53a896"]]},{"id":"fcabc867.849a5","type":"http request","z":"ec8e5944.e5e5e","name":"","method":"POST","ret":"txt","url":"","tls":"","x":630,"y":900,"wires":[["72da592c.07b73"]]},{"id":"72da592c.07b73","type":"debug","z":"ec8e5944.e5e5e","name":"","active":true,"console":"false","complete":"false","x":850,"y":900,"wires":[]},{"id":"2b1e415e.53a896","type":"debug","z":"ec8e5944.e5e5e","name":"","active":true,"console":"false","complete":"true","x":590,"y":940,"wires":[]},{"id":"4bacfef8.b8c128","type":"inject","z":"ec8e5944.e5e5e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":980,"wires":[["8ad59465.a53778"]]},{"id":"8ad59465.a53778","type":"function","z":"ec8e5944.e5e5e","name":"24 Stunden lang m채hen","func":"var mower = global.get(\"mower\");\nvar mytoken = global.get(\"token\"); \nvar mylocation = global.get(\"location\"); \n\nmsg.payload = {\n    \"name\": \"start_override_timer\",\n    \"parameters\": { \"duration\": 1440 }\n};\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"X-Session\": mytoken\n};\n\nvar url= \"https://sg-api.dss.husqvarnagroup.net/sg-1/devices/\" + mower + \"/abilities/mower/command?locationId=\" + mylocation;\n\nmsg.url = url;\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":980,"wires":[["baa95fea.bf5c1","de92cb1d.961a48"]]},{"id":"baa95fea.bf5c1","type":"http request","z":"ec8e5944.e5e5e","name":"","method":"POST","ret":"txt","url":"","tls":"","x":630,"y":980,"wires":[["84164b81.b07518"]]},{"id":"84164b81.b07518","type":"debug","z":"ec8e5944.e5e5e","name":"","active":true,"console":"false","complete":"false","x":850,"y":980,"wires":[]},{"id":"de92cb1d.961a48","type":"debug","z":"ec8e5944.e5e5e","name":"","active":true,"console":"false","complete":"true","x":590,"y":1020,"wires":[]},{"id":"18aac5e0.e855ba","type":"inject","z":"ec8e5944.e5e5e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":1060,"wires":[["cca7503c.5b0e2"]]},{"id":"cca7503c.5b0e2","type":"function","z":"ec8e5944.e5e5e","name":"3 Tage m채hen","func":"var mower = global.get(\"mower\");\nvar mytoken = global.get(\"token\"); \nvar mylocation = global.get(\"location\"); \n\nmsg.payload = {\n    \"name\": \"start_override_timer\",\n    \"parameters\": { \"duration\": 4320 }\n};\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"X-Session\": mytoken\n};\n\nvar url= \"https://sg-api.dss.husqvarnagroup.net/sg-1/devices/\" + mower + \"/abilities/mower/command?locationId=\" + mylocation;\n\nmsg.url = url;\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":1060,"wires":[["e53d1c93.e675","f60cdd94.4b9d58"]]},{"id":"e53d1c93.e675","type":"http request","z":"ec8e5944.e5e5e","name":"","method":"POST","ret":"txt","url":"","tls":"","x":630,"y":1060,"wires":[["323fab06.ed22ec"]]},{"id":"323fab06.ed22ec","type":"debug","z":"ec8e5944.e5e5e","name":"","active":true,"console":"false","complete":"false","x":850,"y":1060,"wires":[]},{"id":"f60cdd94.4b9d58","type":"debug","z":"ec8e5944.e5e5e","name":"","active":true,"console":"false","complete":"true","x":590,"y":1100,"wires":[]},{"id":"3f54a10d.e316f6","type":"function","z":"ec8e5944.e5e5e","name":"battery","func":"global.set(\"mower\", msg.payload[\"devices\"][1][\"id\"]);\n\nvar battery_level = { payload:msg.payload[\"devices\"][1][\"abilities\"][1][\"properties\"][0].value };\nvar battery_charging = { payload:msg.payload[\"devices\"][1][\"abilities\"][1][\"properties\"][1].value };\nvar battery_influxdb = {};\nbattery_influxdb.payload = [{\"battery_level\": battery_level.payload ,\n                             \"battery_charging\": battery_charging.payload }];\n\nreturn [ [battery_level], [battery_charging], battery_influxdb ];","outputs":3,"noerr":0,"x":320,"y":280,"wires":[["fd2ee2d7.ef0ab"],["36d887f2.37c89"],["d8c89c1b.94af08","86c4e3b5.e60e38"]]},{"id":"fd2ee2d7.ef0ab","type":"debug","z":"ec8e5944.e5e5e","name":"Battery Level","active":false,"console":"false","complete":"payload","x":330,"y":340,"wires":[]},{"id":"36d887f2.37c89","type":"debug","z":"ec8e5944.e5e5e","name":"Battery Charging","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":350,"y":380,"wires":[]},{"id":"46aa3087.d551f","type":"debug","z":"ec8e5944.e5e5e","name":"Mower Status","active":false,"console":"false","complete":"payload","x":860,"y":340,"wires":[]},{"id":"a07551c.9d112b","type":"debug","z":"ec8e5944.e5e5e","name":"Radio Level","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":340,"wires":[]},{"id":"ff2e8fc9.e2f208","type":"debug","z":"ec8e5944.e5e5e","name":"Radio Status","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":380,"wires":[]},{"id":"685b45cb.e7659c","type":"debug","z":"ec8e5944.e5e5e","name":"Mower Error","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":380,"wires":[]},{"id":"3192d9bc.427156","type":"function","z":"ec8e5944.e5e5e","name":"mover_stats","func":"global.set(\"mower\", msg.payload[\"devices\"][1][\"id\"]);\n\nvar cutting_time = { payload:msg.payload[\"devices\"][1][\"abilities\"][5][\"properties\"][0].value };\nvar charging_cycles = { payload:msg.payload[\"devices\"][1][\"abilities\"][5][\"properties\"][1].value };\nvar collisions = { payload:msg.payload[\"devices\"][1][\"abilities\"][5][\"properties\"][2].value };\nvar running_time = { payload:msg.payload[\"devices\"][1][\"abilities\"][5][\"properties\"][3].value };\nvar influxdb = {};\ninfluxdb.payload = [{\"cutting_time\": cutting_time.payload ,\n                     \"charging_cycles\": charging_cycles.payload,\n                     \"collisions\": collisions.payload,\n                     \"running_time\": running_time.payload }];\n                     \n                     \n                     \nreturn [ [cutting_time], [charging_cycles], [collisions], [running_time], influxdb ];","outputs":5,"noerr":0,"x":1170,"y":280,"wires":[["c5e21eff.880b38"],["8668c601.c774a8"],["3e832648.17732a"],["b6c3e946.4c386"],["343ef8d6.b92958","c4b7505d.a929b8"]]},{"id":"8effcf.953c583","type":"function","z":"ec8e5944.e5e5e","name":"radio","func":"global.set(\"mower\", msg.payload[\"devices\"][1][\"id\"]);\n\nvar radio_level = { payload:msg.payload[\"devices\"][1][\"abilities\"][2][\"properties\"][0].value };\nvar radio_status = { payload:msg.payload[\"devices\"][1][\"abilities\"][2][\"properties\"][2].value };\nvar radio_influxdb = {};\nradio_influxdb.payload = [{\"radio_level\": radio_level.payload ,\n                             \"radio_status\": radio_status.payload }];\n\n\nreturn [ [radio_level], [radio_status], radio_influxdb ];","outputs":3,"noerr":0,"x":590,"y":280,"wires":[["a07551c.9d112b"],["ff2e8fc9.e2f208"],["c183844f.3448","df075c16.f12a1"]]},{"id":"ef3afae2.9ef0c8","type":"function","z":"ec8e5944.e5e5e","name":"mower","func":"global.set(\"mower\", msg.payload[\"devices\"][1][\"id\"]);\n\n\nvar status = { payload:msg.payload[\"devices\"][1][\"abilities\"][4][\"properties\"][1].value };\nvar error = { payload:msg.payload[\"devices\"][1][\"abilities\"][4][\"properties\"][2].value };\nvar timestamp_next_start = { payload:msg.payload[\"devices\"][1][\"abilities\"][4][\"properties\"][7].value };\n\nvar influxdb = {};\ninfluxdb.payload = [{\"status\": status.payload ,\n                     \"error\": error.payload,\n                     \"timestamp_next_start\": timestamp_next_start.payload }];\n                 \n\nreturn [ [status], [error], [timestamp_next_start], influxdb ];","outputs":4,"noerr":0,"x":830,"y":280,"wires":[["46aa3087.d551f"],["685b45cb.e7659c"],["9462a0aa.0beed8"],["b4ff018b.6160e8","db76c8d4.750ec"]]},{"id":"c5e21eff.880b38","type":"debug","z":"ec8e5944.e5e5e","name":"Cutting Time","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1170,"y":340,"wires":[]},{"id":"8668c601.c774a8","type":"debug","z":"ec8e5944.e5e5e","name":"Charging Cycles","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1190,"y":380,"wires":[]},{"id":"3e832648.17732a","type":"debug","z":"ec8e5944.e5e5e","name":"Collisions","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1160,"y":420,"wires":[]},{"id":"b6c3e946.4c386","type":"debug","z":"ec8e5944.e5e5e","name":"Running Time","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1180,"y":460,"wires":[]},{"id":"d8c89c1b.94af08","type":"debug","z":"ec8e5944.e5e5e","name":"Battery InfluxDB","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":340,"y":420,"wires":[]},{"id":"c183844f.3448","type":"debug","z":"ec8e5944.e5e5e","name":"Radio InfluxDB","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":620,"y":420,"wires":[]},{"id":"db76c8d4.750ec","type":"debug","z":"ec8e5944.e5e5e","name":"Mower InfluxDB","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":860,"y":460,"wires":[]},{"id":"343ef8d6.b92958","type":"debug","z":"ec8e5944.e5e5e","name":"Mower_Stats InfluxDB","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1200,"y":500,"wires":[]},{"id":"86c4e3b5.e60e38","type":"influxdb out","z":"ec8e5944.e5e5e","influxdb":"","name":"","measurement":"battery","precision":"","retentionPolicy":"","x":320,"y":460,"wires":[]},{"id":"df075c16.f12a1","type":"influxdb out","z":"ec8e5944.e5e5e","influxdb":"","name":"","measurement":"radio","precision":"","retentionPolicy":"","x":600,"y":460,"wires":[]},{"id":"b4ff018b.6160e8","type":"influxdb out","z":"ec8e5944.e5e5e","influxdb":"","name":"","measurement":"mower","precision":"","retentionPolicy":"","x":840,"y":500,"wires":[]},{"id":"c4b7505d.a929b8","type":"influxdb out","z":"ec8e5944.e5e5e","influxdb":"","name":"","measurement":"mower_stats","precision":"","retentionPolicy":"","x":1160,"y":540,"wires":[]},{"id":"9462a0aa.0beed8","type":"debug","z":"ec8e5944.e5e5e","name":"Mower timestamp_next_start","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":900,"y":420,"wires":[]},{"id":"1bbe35ea.0fec9a","type":"comment","z":"ec8e5944.e5e5e","name":"Ask Resfull API from Gardena Smart Gateway","info":"","x":210,"y":40,"wires":[]},{"id":"622897f6.32ac","type":"comment","z":"ec8e5944.e5e5e","name":"Commands for Gardena Sileno Mower","info":"","x":190,"y":680,"wires":[]}]